# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/

# OS files
Thumbs.db
.DS_Store
NUL

# Logs
*.log

# Database files
*.db
*.sqlite3

# Local settings (machine-specific paths)
settings.ini

project_notes/screenshots
